@charset "ISO-8859-1";
.chatbot-icon-holder{
	bottom:30px;
	right:50px;
	position:fixed;

}
.chatbot-icon-holder span{
	background: #3498db;
	border-radius:50%;
	height:50px;
	width:50px;
	padding-top:8px;
	padding-left:5px;
	color:white;
}

.chatbot-icon-holder:hover{
	cursor:pointer;
}


#chat-window-container{
	height:400px;
	width:300px;
	position:fixed;
	bottom:30px;
	right:15px;
	border:2px solid  #3498db;
	display:flex;
	flex-direction:column;
}
#title-bar{
width:100%;
background:#3498db;
height:auto;
display:flex;
flex-direction:row-reverse;
}
#minimize-btn:hover{
	cursor:pointer;
}

#chat-body{
width:100%;
flex-grow:1;
background:white;
display:flex;
flex-direction:column-reverse;
overflow-y:auto;
position:relative;
}
#chat-input{
width:100%;
heigth:auto;
background:#3498db;
display:flex;
flex-direction:row;
padding:4px;
}
#chat-input input[type="text"]{
outline:none;
border-radius:20px;
border:#3498db;
width:300px;
padding-left:6px;
}

#send-msg:hover{
	cursor:pointer;
}

.right{
	background:#ccebff;
	width:80%;
	padding:5px 10px;
	align-self: flex-end;
	text-align:left;
	height:auto;
	position:relative;


}

.left{
	background:#ccebff;
	 width:80%;
	 padding:5px 10px;
	 align-self: flex-start;
	 height:auto;
	 position:relative;
	


}
.left-bubble {
  position: relative;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  width: auto;
  max-width: 70%;
  background: #ccebff;
  border-radius: 40px;
  padding: 15px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  margin-left: 5px;
  word-wrap:break-word;
  height:auto;
  position:relative;

}



.right-bubble {
  position: relative;
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  width:auto;
  background:#ccebff;
  border-radius: 40px;
  padding: 15px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
  margin-right:  5px;
  word-wrap:break-word;
  max-width: 60%;
  height:auto;
  position:relative;


}


.bot-btn{
	background-color: white;
  color: #3498db;
  border-color: #3498db;
  outline: none;
 
}
.bot-btn:hover{
background-color:#3498db ;
  color: white;
  outline: none;
 
  
}
.reason{
	background-color:#ccebff;outline:none; border-top-style: hidden;border-color:#3498db;border-right-style: hidden;border-left-style: hidden;border-bottom-style:solid;width:150px;
}
